@import "tailwindcss";

@custom-variant dark (&:is(.____never____));

html {
  color-scheme: light only;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --text-xsss: 10px;
  --text-xsss--line-height: 20px;
  --text-xss: 12px;
  --text-xss--line-height: 24px;
  --text-xs: 14px;
  --text-xs--line-height: 24px;
  --text-sm: 16px;
  --text-sm--line-height: 28px;
  --text-lg: 18px;
  --text-lg--line-height: 28px;
  --text-xl: 24px;
  --text-xl--line-height: 36px;
  --text-2xl: 32px;
  --text-2xl--line-height: 48px;
  --text-3xl: 40px;
  --text-3xl--line-height: 52px;
  --text-4xl: 56px;
  --text-4xl--line-height: 64px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-50: #fff4ec;
  --color-brand-100: #ffe6d3;
  --color-brand-200: #ffc8a5;
  --color-brand-300: #ffa26d;
  --color-brand-400: #ff7032;
  --color-brand-500: #ff490a;
  --color-brand-600: #ff2e00;
  --color-brand-700: #cc1c02;
  --color-brand-800: #a1180b;
  --color-brand-900: #82170c;
  --color-brand-950: #460704;

}


body {
  background: var(--background);
  color: var(--foreground);
}
